{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Katakana Learning Game{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'quiz/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
